* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* font-family: "louis cafe", sans-serif; */
  font-family:'Shantell Sans', cursive; 
}

body {
  height: 100vh;
  width: 100vw;
  transition: all 0.8s ease;
  overflow-x: hidden;
  background: #412973;
}

/* Icone referente a aba da página */
.icone_tela {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icone_tela .imagem i {
  font-size: 2rem;
}

/* Conteudo */
.conteudo {
  width: 100%;
  height: 90%;
}
.conteudo .conteudos_jogos {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  padding: 0 1rem;
}
/* Lado esquerdo */
.conteudo .conteudos_jogos .lado_esquerdo {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Lista de jogos */
.conteudo .conteudos_jogos .lado_esquerdo ul {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.conteudo .conteudos_jogos .lado_esquerdo ul li {
  list-style: none;
}
.conteudo .conteudos_jogos .lado_esquerdo ul li a {
  width: 30rem;
  height: 9rem;
  text-decoration: none;
}


/* Nome dos jogos */

/* Lado direito */
.conteudo .conteudos_jogos .lado_direito {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Lista de jogos */
.conteudo .conteudos_jogos .lado_direito ul {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.conteudo .conteudos_jogos .lado_direito ul li {
  list-style: none;
}
.conteudo .conteudos_jogos .lado_direito ul li a {
  width: 30rem;
  height: 9rem;
  text-decoration: none;
}

/* Hover */
.conteudo .conteudos_jogos .lado_esquerdo ul li a img:hover{
  transform: scale(1.02);
  cursor: pointer;
  transition: all 0.4s easy-in-out;
}
.conteudo .conteudos_jogos .lado_direito ul li a span:hover{
  transform: 0;
  transform: scale(1.02);
  cursor: pointer;
  transition: all 0.4s easy-in-out;
}
.conteudo .conteudos_jogos .lado_direito ul li a img:hover{
  transform: scale(1.02);
  cursor: pointer;
  transition: all 0.4s easy-in-out;
}

/* Responsividade */
@media screen and (max-width: 940px) {
  .conteudo .conteudos_jogos .lado_esquerdo ul li a {
    width: 40rem;
    height: 10rem;
  }
  .conteudo .conteudos_jogos .lado_esquerdo ul li a img {
    width: 100%;
    height: 100%;
  }
  .conteudo .conteudos_jogos .lado_direito ul li a {
    width: 40rem;
    height: 10rem;
  }
  .conteudo .conteudos_jogos .lado_direito ul li a img {
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 600px) {
  .conteudo .conteudos_jogos {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .conteudo .conteudos_jogos .lado_esquerdo {
    width: 100%;
    height: 50%;
  }
  .conteudo .conteudos_jogos .lado_direito {
    width: 100%;
    height: 50%;
  }
  .conteudo .conteudos_jogos .lado_esquerdo ul li a {
    width: 25rem;
    height: 5rem;
  }
  .conteudo .conteudos_jogos .lado_esquerdo ul li a img {
    width: 20rem;
    height: 5rem;
    object-fit: contain;
  }
  .conteudo .conteudos_jogos .lado_direito ul li a img {
    width: 20rem;
    height: 5rem;
    object-fit: contain;
  }
}
@media screen and (max-width: 350px) {

  .conteudo .conteudos_jogos .lado_esquerdo ul li a img {
    width: 12rem;

  }
  .conteudo .conteudos_jogos .lado_direito ul li a img {
    width: 12rem;
  }
}
@media screen and (max-width: 300px) {

  .conteudo .conteudos_jogos .lado_esquerdo ul li a img {
    width: 9rem;

  }
  .conteudo .conteudos_jogos .lado_direito ul li a img {
    width: 9rem;
  }
}