@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
main {
  width: 100%;
  min-height: 80vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  overflow-x: hidden;
}
/* ------- NavBar ------- */
nav {
  width: 100%;
  height: 7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5rem;
}

.menu.ativo {
  background: #fff;
}

.menu.mudar_roxo {
  background: #412973;
}

nav a img {
  width: 10rem;
}

nav a {
  text-decoration: none;
  color: white;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 20px;
}

nav ul li a {
  line-height: 80px;
  color: white;
  display: block;
  text-decoration: none;
  font-weight: 600;
  transition: all 0.3s ease;
}

nav ul li a:hover {
  transform: translateY(-5%);
  text-decoration: underline 2px;
  text-decoration-color: #0ee2d9;
}

.capa {
  height: 100vh;
  -webkit-background-size: 100vw;
  -moz-background-size: 100vw;
  -o-background-size: 100vw;
  background-size: 100vw;
  background-size: cover;
}

.principal {
  display: none;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: white;
  margin: 8px;
  transition: 0.3s;
}

.menu.ativo > .mobile-menu div {
  background: #000;
}

.menu.roxo > .mobile-menu div {
  background: #fff;
}

/* Responsividade */
@media (max-width: 1024px) {
  /* nav {
    background: #412973;
  } */
  .nav-list {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    background: #412973;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateY(-110%);
    transition: transform 0.3s ease-in;
    z-index: 1;
  }
  .menu.ativo > .nav-list {
    background: #fff;
    color: #000;
  }
  .menu.ativo > .nav-list a {
    color: #000;
  }

  .menu.mudar_roxo > .nav-list {
    background: #412973;
  }
  .menu.roxo > .nav-list a {
    color: #fff;
  }

  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }
  .nav-list a {
    text-align: center;
    color: white;
  }
  .mobile-menu {
    display: block;
    z-index: 2;
  }

  nav {
    position: fixed;
    z-index: 1000;
    top: 0;
  }
  nav img {
    width: 4em;
  }
}

@media (max-width: 450px) {
  nav {
    padding: 0 3rem;
  }
}
@media (max-width: 350px) {
  nav a img {
    width: 8rem;
  }
  nav {
    padding: 0 2rem;
  }
}
@media (max-width: 280px) {
  nav a img {
    width: 7rem;
  }
  nav {
    padding: 0 1.5rem;
  }
}
@media (max-width: 535px){
  .capa{
    background: url(../img/banners/banner_1_mobile.png) center no-repeat;
    background-size: cover;
    background-position: center;
  }
}
.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}

/* NavBar */
.capa {
  height: 100vh;
  -webkit-background-size: 100vw;
  -moz-background-size: 100vw;
  -o-background-size: 100vw;
  background-size: 100vw;
  background: url(../img/banners/banner_projeto.png) center no-repeat;
  background-size: cover;
  background-position: center;
}

.container {
  width: 100%;
  height: 100%;
}

/*Objetivo do Projeto*/

.objetivo_projeto {
  width: 100%;
  height: 30rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.objetivo_projeto .lado_esquerdo {
  margin: 2rem 5rem;
  width: 40%;
  height: 90%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.objetivo_projeto .lado_esquerdo .texto h3 {
  width: 100%;
  margin: 10px 20px 0;
  text-align: left;
  font-size: 1.2rem;
  font-weight: 500;
}
.objetivo_projeto .lado_esquerdo .texto .titulo h3 {
  display: block;
  font-size: 1.2rem;
  position: relative;
}

.titulo::before {
  position: absolute;
  content: "";
  height: 1.3rem;
  width: 0.4rem;
  background-color: #f55389;
}

/*Lado direito*/
.objetivo_projeto .lado_direito {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
}
.objetivo_projeto .lado_direito .texto2 h3 {
  width: 100%;
  margin: 20px 0;
  text-align: left;
  font-size: 1.2rem;
  font-weight: 500;
}

/*Parte sobre o logo*/
.sobre_logo {
  width: 100%;
  height: 30rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.sobre_logo .lado_esquerdo {
  margin: 2rem 7rem;
  width: 100%;
  height: 90%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sobre_logo .lado_esquerdo .texto h3 {
  width: 100%;
  margin: 10px 20px 0;
  text-align: left;
  font-size: 1.2rem;
  font-weight: 500;
}
.sobre_logo .lado_esquerdo .texto .titulo h3 {
  display: block;
  font-size: 1.2rem;
  position: relative;
}
.sobre_logo .lado_direito {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sobre_logo .lado_direito .parte_imagem {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  overflow: hidden;
  justify-content: center;
  gap: 1rem;
}
.sobre_logo .lado_direito .parte_imagem .polvo1 {
  position: absolute;
  margin: 0 30rem 15rem 0;
}
.sobre_logo .lado_direito .parte_imagem .polvo1 img {
  width: 25rem;
}
.sobre_logo .lado_direito .parte_imagem .polvo2 img {
  width: 25rem;
}

/*Sobre a paleta de cores*/

.sobre_paleta {
  width: 100%;
  height: 30rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.sobre_paleta .lado_esquerdo {
  margin: 2rem 7rem;
  width: 100%;
  height: 90%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sobre_paleta .lado_esquerdo .texto h3 {
  width: 100%;
  margin: 10px 20px 0;
  text-align: left;
  font-size: 1.2rem;
  font-weight: 500;
}
.sobre_paleta .lado_esquerdo .texto .titulo h3 {
  display: block;
  font-size: 1.2rem;
  position: relative;
}
.sobre_paleta .lado_esquerdo .imagem_paleta img {
  width: 23rem;
  height: 10rem;
  display: flex;
  justify-content: center;
  margin: 2rem;
}

/*Sobre a paleta de cores - Card*/

.sobre_paleta .lado_direito {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sobre_paleta .lado_direito .parte_card {
  width: 20rem;
  height: 23rem;
  background-color: #fff;
  border: 0.6px solid #412973;
  border-radius: 20px;
  overflow: hidden;
  transition: 0.5s;
}
.sobre_paleta .lado_direito .parte_card h3 {
  width: 90%;
  padding: 3rem 0 0 2rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
}
.sobre_paleta .lado_direito .parte_card .card_cor {
  background-color: #412973;
  margin: -10px;
  height: 4rem;
}
.sobre_paleta .lado_direito .parte_card .card_cor h3 {
  color: #fff;
  text-align: center;
  padding: 1.5rem 0 0 3rem;
  font-size: 1.2rem;
  font-weight: 600;
}
.sobre_paleta .lado_direito .parte_card .card_cor img {
  width: 1rem;
}

/*RESPONSIVO*/

@media (max-width: 1222px) {
  .objetivo_projeto {
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .sobre_logo {
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .sobre_paleta {
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .objetivo_projeto .lado_esquerdo {
    width: 80%;
    margin: 2rem;
  }
  .objetivo_projeto .lado_direito {
    width: 80%;
    margin-left: 3rem;
  }
  .sobre_logo .lado_esquerdo {
    width: 80%;
    margin: 2rem;
  }
  .sobre_logo .lado_direito {
    display: none;
  }
  .sobre_logo .lado_direito .parte_imagem {
    width: 100%;
    justify-content: center;
  }
  .sobre_paleta .lado_esquerdo {
    width: 80%;
    margin: 2rem;
  }
  .sobre_paleta .lado_direito {
    width: 100%;
    margin: 2rem;
  }
}
@media (max-width: 500px) {
  .sobre_paleta .lado_esquerdo .imagem_paleta img {
    width: 15rem;
    height: 7rem;
  }
  .sobre_paleta .lado_direito .parte_card {
    width: 18rem;
    height: 19rem;
  }
  .sobre_paleta .lado_direito .parte_card h3 {
    font-size: 1rem;
    padding: 1rem 0 0 1rem;
  }
}
