@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container{
    display: flex;
    margin: 20px 0;
}

canvas{
    margin: 0;
}

.table{
    overflow-y: scroll;
    height: 38em;
}

.el{
    font-size: 23px;
    margin: 20px 100px;
    padding-bottom: 20px;

    display: flex;
    gap: 50px;

    border-bottom: solid black 1px;
}

#el-1, #el-2, #el-3{
    display: none;
}

.usado{
    width: 38%;
}

.curi{
    width: 30%;
}

.nao-metal{
    border: solid 2px green;
    background-color: greenyellow;

    padding: 10px 20px;
    margin-bottom: 10px;
    border-radius: 7px;

    width: 100px;
    height: 90px;
}

.gas-nobre{
    border: solid 2px red;
    background-color: #ec9191;

    padding: 10px 20px;
    margin: 10px 0;
    border-radius: 7px;

    width: 100px;
    height: 90px;
}

.metal-alcalino{
    border: solid 2px blue;
    background-color: #7575ff;

    padding: 10px 20px;
    margin: 10px 0;
    border-radius: 7px;

    width: 100px;
    height: 90px;
}

.metal-alcalino-terroso{
    border: solid 2px yellow;
    background-color: #ffff8a;

    padding: 10px 20px;
    margin: 10px 0;
    border-radius: 7px;

    width: 100px;
    height: 90px;
}

.semimetal{
    border: solid 2px orangered;
    background-color: orange;

    padding: 10px 20px;
    margin: 10px 0;
    border-radius: 7px;

    width: 100px;
    height: 90px;
}

.card-el{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

.card span{
	font-size: 15px;
	margin-left: -90px;
}

.btns{
    display: none;
}

@media (max-width:953px){
    canvas{
        width: 400px;
        height: 400px;

        margin: 5px;
    }

    .container{
        display: flex;
        flex-direction: column;
    }

    .el{
        margin: 20px;

        display: flex;
        gap: 20px;
    }

    .btns{
        display: flex;
        flex-direction: column;
        align-items: center;
        top: 250px;
        right: 70px;
        position: fixed;
    }

    .btns button img{
        width: 80px;
        height: 80px;
    }

    .outros{
        display: flex;
        flex-direction: row;
    }
}

@media (max-width:623px){
    canvas{
        width: 300px;
        height: 300px;
    }

    .el{
        margin: 10px;

        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 300px;
    }

    .btns{
        display: flex;
        flex-direction: column;
        align-items: center;
        top: 330px;
        right: 0;
        position: fixed;
    }

    .btns button img{
        width: 50px;
        height: 50px;
    }

    .outros{
        display: flex;
        flex-direction: row;
    }

    .nao-metal{ 
        width: 300px;
    }
    .gas-nobre{
        width: 300px;
    }
    .metal-alcalino{
        width: 300px;
    }
    .metal-alcalino-terroso{
        width: 300px;
    }
    .semimetal{
        width: 300px;
    }

    .usado{
        width: 400px;
    }
    .curi{
        width: 400px;
    }

}